.containner {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
  &__slide-inner {
    position: absolute;
    width: 35%;
    top: 30%;
  }

  &__heading-slide {
    // position: relative;
    height: 62rem;
  }
}
