// $bg-color: #000;

$color-grey-dark: #333;
$color-blue-dark: #1d292e;
$color-grey-light: #d3d3d3;
$color-grey: #c9c9c9;
$color-white: #fff;
$color-black: #000;
$bg-color-grey: #ededed;
$bg-color-servered: #161727;
$color-hover: #2568ef;

$color-border-grey: #e0dede;

$color-footer-bg: #13181c;

$color-orange: #ed7e4f;

$color-yellow: #e6920e;

$content-new-update__img-width: 62rem;
