// .login {
// }

.containner-login {
  width: 55rem;
  margin: 0 auto;
}

.logo-login {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
}

.content-login {
  padding: 5rem 7rem;
  border-radius: 3px;
  margin-bottom: 7rem;
  // box-shadow: 0 2.5rem 8rem 2rem rgba(0, 0, 0, 0.06);
  background-color: $color-grey-light;
}

.title-login {
  font-size: 2.25rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 3.5rem;
}

.form {
  &-group {
    margin-bottom: 3.5rem;
  }

  &-label {
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    color: #777;
  }

  &-input {
    display: block;
    font-family: inherit;
    font-size: 1.5rem;
    color: inherit;
    padding: 1.25rem 1.75rem;
    border: none;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transition: all 0.3s;
    border-radius: 4px;

    &:focus {
      border-bottom: 3px solid #ff7730;
    }
  }
}

.line-login {
  position: relative;
  padding-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  &::before {
    width: 100%;
    position: absolute;
    content: "";
    border-bottom: 1px solid;
    top: 25px;
    left: 0;
  }
}

.signup-suggest {
  display: block;
  padding-top: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  &:link,
  &:visited {
    color: $color-hover;
  }
}

.err-mess {
  padding-bottom: 1.25rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: red;
}
