.flex-align-center {
  align-items: center !important;
}

.u-padding-right-small {
  padding-right: 2rem !important;
}

.u-padding-right-medium {
  padding-right: 3.5rem !important;
}

.u-padding-right-big {
  padding-right: 4.8rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 3.5rem !important;
}

.u-margin-bottom-big {
  margin-right: 4.8rem !important;
}

.u-flex-gap-small {
  gap: 2.5rem !important;
}

.u-flex-gap-medium {
  gap: 3.2rem !important;
}

.u-flex-gap-big {
  gap: 4.8rem !important;
}
