.nav {
  &__list {
    list-style: none;
    display: flex;
    gap: 1.6rem;
    align-items: center;
    & > li {
      // display: block;
    }
  }

  &__link {
    display: block;
    cursor: pointer;
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-grey-dark;
      transition: all 0.3s;
    }

    &:hover,
    &:active {
      color: $color-hover;
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }

  &__logo {
    height: 7.5rem;
    width: 8.2rem;
  }

  &__main-header-left {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > ul > li {
      padding: 1rem 0.5rem;
      & > a,
      & .nav__cascading-title > a {
        display: block;
        padding: 1.5rem 1rem;
      }
    }
  }

  &__main-header-right {
    position: relative;
  }

  &__search-icon {
    height: 4rem;
    width: 4rem;
    padding: 12px;
    margin-left: 1rem;
    border-radius: 3px;
    --ionicon-stroke-width: 70px;
    background-color: $color-grey-light;
    transition: all 0.2s;
    &:hover,
    &:active {
      background-color: $color-grey-dark;
      & .nav__link {
        color: $color-hover;
      }
    }
  }

  &__search-bar {
    width: 25rem;
    height: 4rem;
    border: 1px solid $color-border-grey;
    background-color: $color-grey-light;
    border-radius: 3px;
    padding: 1rem;
    font-family: inherit;
    animation: moveInLeft 0.45s ease-out;
    & input::placeholder {
      font-size: 1.6rem;
    }
  }

  &__search-form {
    position: absolute;
    right: 100%;
    top: 0%;
  }

  &__cascading-title {
    position: relative;
    & > a {
      display: flex;
      align-items: center;
      gap: 3px;
    }

    &:hover .nav__cascading-wrapper,
    &:focus .nav__cascading-wrapper {
      // display: block;
      opacity: 1;
      visibility: visible;
    }

    & > a {
      display: flex !important;
      align-items: center;
    }
  }

  &__cascading-wrapper {
    // display: none;  none -> block transition not run ????
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    width: 19rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    border: 1px solid $color-border-grey;
    background-color: #fff;
    transition: all 0.3s;
    z-index: 1000;
    & > ul {
      list-style: none;
      line-height: 1.2;

      // & > li:not(:last-child) {
      //   padding-bottom: 2rem;
      // }
    }

    & a {
      padding: 1rem;
    }
  }
}

.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-mode {
  display: flex;
  position: relative;
  padding: 0.1rem;
  border-radius: 50%;
  margin-left: 0.5rem;
  background-color: $color-hover;
  & > img {
    height: 3rem;
    width: 3.2rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
  }

  &__list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    padding: 0.5rem 0;
    width: 15rem;
    height: 8rem;
    background-color: #fff;
    border: 1px solid $color-grey-light;
    border-radius: 3px;
    top: 120%;
    left: 0;
    z-index: 1000;

    & > li {
      & > a {
        display: flex;
        gap: 1rem;
        align-items: center;

        & > ion-icon {
          height: 2rem;
          width: 2rem;
        }
      }
      font-weight: 600;
      transition: all 0.1s;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        color: $color-hover;
        background-color: $color-grey-light;
      }
    }
  }
}

.setting-mode {
  & > ion-icon {
    height: 2.6rem;
    width: 2.8rem;
  }
}
