.slider-containner {
  height: 60rem;
  overflow: hidden;
  position: relative;
  // background-color: antiquewhite;
}

.slides {
  height: 100%;
  display: flex;
  & input {
    display: none;
  }
}

.slide {
  transition: 2s;
  & > img {
    display: block;
    height: 60rem;
    // width: 170rem;
    // opacity: 0.7;
    margin: auto;
    filter: brightness(0.8);
  }
}

.slide-manual {
  display: flex;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -200%);
  & .manual-btn {
    border: 2px solid $color-hover;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

    &:not(:last-child) {
      margin-right: 3rem;
    }
    &:hover,
    &:active {
      background-color: $color-hover;
    }
  }
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -100%;
}

#radio3:checked ~ .first {
  margin-left: -200%;
}

#radio4:checked ~ .first {
  margin-left: -300%;
}
