.slider-containner {
  height: 62rem;
  position: relative;
  overflow: hidden;
}

.slides {
  width: 300%;
  height: 100%;
  display: flex;
  &:hover .slide__bg-img {
    filter: brightness(0.8);
  }
}

.slide {
  &__containner {
    position: relative;
    transition: all 1.5s;
    // &:hover .slide__bg-img {
    //   filter: brightness(0.8);
    // }
  }

  &__bg-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 1s ease;
  }
}

.dots {
  display: flex;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -150%);
  z-index: 100;
}

.dot {
  border: 2px solid $color-hover;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  &:not(:last-child) {
    margin-right: 1.2rem;
  }

  &:hover {
    background-color: $color-hover;
  }
}

.category {
  display: inline-block;
  line-height: 1.6;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.4rem 1.2rem;
  border-radius: 100px;
  background-color: $color-grey-dark;
  & > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: $color-white;
    transition: all 0.2s;
    & > ion-icon {
      padding-bottom: 2px;
    }
    &:hover {
      color: $color-hover;
    }
  }
}
